/*ver-files*/
@ver-files:1;

/*typography colors*/
@base-color:#000;
@hover-color:#000;

@main-header-bg-color:#00004c;
@header-bg-color:#004c00;

/** OpenLaw colors **/
@dark-navy: #00004c;
@dark-green: #004c00;

/*** Gray colors***/
@white:#fff;
@black:#000;

@gray-m:#616161;
@gray-w:#cccccc;
@gray-z:#f0f0f0;


/*More Configs in config folder!*/
