<ul class="">
  <li ng-repeat="booklet in booklets" class="box">
    <article id="content_{{booklet.booklet}}" class="">
      <header class="fc box-header">
        <h3 class="title">{{booklet.booklet}}</h3>
        <footer ng-if="booklet.dates.published" class="header-footer published">
          {{"Published" | translate}}
          <time datetime="{{booklet.dates.published}}">{{booklet.dates.published}}</time>
        </footer>
      </header>
      <div class="content">
        <dl>

          <dt>{{"Booklet" | translate}}:</dt>
          <dd>{{booklet.booklet}}</dd>

          <dt>{{"Knesset" | translate}}:</dt>
          <dd>{{booklet.knesset}}</dd>

          <dt>{{"Links" | translate}}:</dt>
          <dd>
            <ul>
              <li ng-repeat="(source, link) in booklet.links">{{"booklet_data.links." + source | translate}}: <a href="{{link}}" target="_blank">{{link}}</a></li>
            </ul>
          </dd>

          <dt ng-if="booklet.dates">{{"Dates" | translate}}:</dt>
          <dd ng-if="booklet.dates">
            <ul>
              <li ng-repeat="(desc, date) in booklet.dates">{{"booklet_data.dates." + desc | translate}}: <time datetime="{{date}}">{{date}}</time></li>
            </ul>
          </dd>

          <dt ng-if="booklet.origin">{{"Origin" | translate}}:</dt>
          <dd ng-if="booklet.origin">
            <ul>
              <li ng-repeat="(desc, content) in booklet.origin">{{"booklet_data.origin." + desc | translate}} <pre class="json-content">{{content}}</pre></li>
            </ul>
          </dd>

        </dl>
        <!--<div class="ng-dump-wrapper">-->
          <!--<p>Dump: </p>-->
          <!--<pre class="ng-dump"></pre>-->
        <!--</div>-->
      </div>
    </article>
  </li>
</ul>