<div class="modal-window{{window.isMinimized ? ' hide' : ''}}" data-fullscreen="{{window.isFullscreen ? 'true' : ''}}">
  <header class="fc">
    <h4>{{window.header}}</h4>
    <footer>
      <a href="#" class="close">{{"Close" | translate}}</a>
      <a href="#" class="resize hide">{{"Resize" | translate}}</a>
      <a href="#" class="minimize hide">{{"Minimize" | translate}}</a>
    </footer>
  </header>
  <iframe ng-if="window.isIframe" class="content" src="{{window.content}}"></iframe>
  <div ng-if="!window.isIframe" class="content">{{window.content}}</div>
</div>