<div class="modal-window{{isMinimized ? ' hide' : ''}}" data-fullscreen="{{isFullscreen ? 'true' : ''}}">
  <header class="fc">
    <h4>{{header}}</h4>
    <footer>
      <a href="#" class="close">{{"Close" | translate}}</a>
      <a ng-if="isResizable" href="#" class="resize">{{"Resize" | translate}}</a>
      <a ng-if="isMinimizable" href="#" class="minimize">{{"Minimize" | translate}}</a>
    </footer>
  </header>
  <iframe ng-if="isIframe" class="content" src="{{content}}"></iframe>
  <div ng-if="!isIframe" class="content">{{content}}</div>
</div>