<!DOCTYPE html>
<html lang="he" ng-app="openLaw">
<head>
  <meta charset="UTF-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>OpenLaw Data | Home</title>
  <link rel="stylesheet/less" type="text/css" href="css/local.less"/>
  <!-- set options before less.js script -->
  <script>
    less = {
      env: "development",
      async: false,
      fileAsync: false,
      poll: 1000,
      functions: {},
      dumpLineNumbers: "comments",
      relativeUrls: false,
      rootpath: ":/localhost/"
    };
  </script>
  <script src="bower_components/less/dist/less-1.7.5.min.js"></script>
  <script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body>
<div id="container" class="common-structure">
  <header class="main-header">
    <h1>{{"OpenLaw project - data warehouse" | translate}}</h1>

    <div ng-if="search.enabled" id="free-search">
      <form action="/booklet/search" method="get" search-form>
        <input type="text" name="q" id="free-query" ng-model="q" placeholder="{{'Search' | translate}}">
        <button type="submit">{{"Search" | translate}}</button>
      </form>
    </div>
  </header>
  <div class="main-area">
    <nav class="main-nav">
      <ul class="box-list open-law-list" id="selector" ng-controller="selector">
        <li class="box select-knesset">
          <header class="fc box-header"><h2 class="title">{{"Select Knesset" | translate}}</h2></header>
          <div class="content">
            <ul class="">
              <li ng-repeat="knesset in knessetList">
                <a class="select-link" href="/booklet/knesset/{{knesset}}">{{"Knesset" | translate}} {{knesset}}</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="box open select-year">
          <header class="fc box-header"><h2 class="title">{{"Select Year" | translate}}</h2></header>
          <div class="content">
            <ul class="">
              <li ng-repeat="year in years">
                <a class="select-link" href="/booklet/year/{{year}}">{{year}}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <main id="main-content" class="main-content">
      <div ng-controller="bookletList">
        <!-- This content comes from booklet-list.html -->
        <div ng-view></div>
      </div>
    </main>
  </div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-i18n/angular-locale_he-il.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="js/translate/booklet_he.js"></script>
<script src="js/openlaw.js"></script>
</body>
</html>