<!DOCTYPE html>
<html lang="he" ng-app="openLaw">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>OpenLaw Data | Home</title>
  <link rel="stylesheet/less" type="text/css" href="css/local.less"/>
  <!-- set options before less.js script -->
  <script>
    less = {
      env: "development",
      async: false,
      fileAsync: false,
      poll: 1000,
      functions: {},
      dumpLineNumbers: "comments",
      relativeUrls: false,
      rootpath: ":/localhost/"
    };
  </script>
  <script src="bower_components/less/dist/less-1.7.5.min.js"></script>
  <script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body>
<div id="container" class="common-structure">
  <header class="main-header">
    <h1>Open Law - Data</h1>

    <div id="free-search">
      <form action="" method="post">
        <input type="text" name="query" id="free-query">
        <input type="submit" value="Search">
      </form>
    </div>
  </header>
  <div class="main-area">
    <nav class="main-nav">
      <ul class="box-list" id="selector" ng-controller="selector">
        <li class="box open select-knesset">
          <header><a href="#">Select Knesset</a></header>
          <div class="content">
            <ul class="">
              <li ng-repeat="knesset in knessetList">
                <a class="select-link" href="#/booklet/knesset/{{knesset}}">Knesset {{knesset}}</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="box select-year">
          <header><a href="#">Select Year</a></header>
          <div class="content">
            <ul class="">
              <li ng-repeat="year in years">
                <a class="select-link" href="#/booklet/year/{{year}}">{{year}}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <main id="main-content" class="main-content">
      MAIN
      <div ng-controller="bookletList">
        <ul class="">
          <li ng-repeat="booklet in booklets" class="">

            <article id="content_{{booklet.booklet}}" class="">
              <header>
                <h3 href="#content_{{booklet.booklet}}">{{booklet.booklet}}</h3>
                <footer class="published">
                  Published
                  <time datetime="{{booklet.dates.published}}">{{booklet.dates.published}}</time>
                </footer>
              </header>
              <div class="content">
                <ul>
                  <li ng-repeat="link in booklet.links">
                    <a href="{{link}}" target="_blank">{{link}}</a>
                  </li>
                </ul>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </main>
  </div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angularjs/angular.min.js"></script>
<script src="js/openlaw.js"></script>
</body>
</html>